<html>
<body>


<a href="/">All</a>
<a href="/?category=Furniture">Furniture</a> <!--pass category name to db, must match csv (capital F)-->
<a href="/?category=Alcohol">Alcohol</a>
<a href="/?category=Toiletries">Toiletries</a>
<a href="/?category=Shoes">Shoes</a>
<a href="/?category=Food">Food</a>
<a href="/?category=Jewelry">Jewelry</a>

<br><br>



<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Category</th>
        <th>Credit Card</th>
        <th>CVV</th>
        <th>Date</th>
    </tr>
    {{#purchases}} <!--list of purchase objects from the repo-->



    <tr>
        {{#customer}} <!--within purchase object. could do {{customer.name}} {{customer.email}}-->
        <td>{{name}}</td>
        <td>{{email}}</td>
        {{/customer}}


        <td>{{category}}</td>
        <td>{{creditCard}}</td>
        <td>{{cvv}}</td>
        <td>{{date}}</td>
    </tr>


    {{/purchases}}



</table>


{{#showNext}}
<a href="/?page={{nextPage}}{{#category}}&category={{.}}{{/category}}">Next</a> <!-- if category exists, add .category to paging-->
{{/showNext}}


</body>
</html>